@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bruno Ace SC', cursive;
}

/* Header */

.header {
  padding: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  width: 200px;
}

nav ul {
  display: flex;
  color: white;
  align-items: center;
}

nav li {
  margin-right: 40px
}

.profileButton {
  display: inline-block;
  padding: 10px 20px;
}

/* Login SignUp Forms */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.form h1 {
  margin-bottom: 10px;
}

.form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.submit {
  width: 100%;
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.hero1 {
  width: 400px;
  height: 350px;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 4px;
}

.heroH1 {
  font-size: 40px;
  font-weight: bolder;
}

.heroBtns {
  display: flex;
  justify-content: space-evenly;
}

.login, .signup {
  padding: 10px 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.heroPost {
  width: 400px;
  height: 440px;
  border: 4px solid #a28357;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}


.slideshow {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-bottom: 4px solid #a28357;
}

.slideshowImg {
  width: 100%;
  height: 100%;
}

.heroPostBottom {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  justify-content: space-between;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 8px;
}

.heroPostTag {
  margin-right: 8px;
  font-weight: bold;
}

/* Profile Hero */

.profileHero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}

.profileHero h1 {
  font-size: 40px
}

/* Post Section */

.postSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  padding-bottom: 90px;
}

@media (min-width: 768px) {
  .postSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Show Page */

.showPage {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  padding-bottom: 90px;
}

.caption {
  border: 4px solid #a28357;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 15px;
  padding: 4px;
  max-width: 470px;
  word-wrap: break-word;
  text-align: center;
  height: auto;
}

.showPostBtns {
  display: flex;
}

.delete, .edit {
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.save {
  padding: 4px 8px;
  border-radius: 4px;
  margin: 10px 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Comment Form */

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  text-align: left;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
  overflow-y: auto;
}

.comment {
  display: flex;
  word-wrap: break-word;
  margin: 2px 2px;
}

.commenter {
  margin-right: 5px;
  color:darkgray
}

.commentFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-top: 20px;
  border-radius: 4px;

}

.commentInput {
  margin-bottom: 10px;
}

.commentFormBox input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.commentDeleteBtn {
  background-color: rgba(255, 0, 0, 0.464);
  color: white;
  border-radius: 4px;
  height: 22px;
  width: 15px;
  text-align: center;
  margin-left: 4px;
}

/* Footer */

.footer {
  padding: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.logout {
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

/* Loading */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page Title */

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 40px;
}